@font-face {
  font-family: 'icomoon';
  src: url('http://oum6qj3qr.bkt.clouddn.com/icon/icomoon.eot?hj90jc');
  src: url('http://oum6qj3qr.bkt.clouddn.com/icon/icomoon.eot?hj90jc#iefix') format('embedded-opentype'), url('http://oum6qj3qr.bkt.clouddn.com/icon/icomoon.ttf?hj90jc') format('truetype'), url('http://oum6qj3qr.bkt.clouddn.com/icon/icomoon.woff?hj90jc') format('woff'), url('http://oum6qj3qr.bkt.clouddn.com/icon/icomoon.svg?hj90jc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bulb:before {
  content: "\e900";
}

.icon-home3:before {
  content: "\e902";
}
