@charset 'utf-8';
//reset
@import './core/Reset.scss';
//404style
@import './NotMatch.scss';
// Icomoon
@import './core/style.scss';
.index-bg {
    background-color: #cf7d42;
    .IndexMain-style {
        background-color: #fff;
        margin: 0 !important;
        padding: 40px 1rem;
        border-bottom: 10px solid #eeeeee;
        .headerSearch {
            margin-top: 20px;
        }
    }
}

.menubar {
    background: #3a3a3a !important;
    padding: 0 25px !important;
    font-family: 'Open Sans', Arial, sans-serif !important;
    .item::before {
        width: 0 !important;
    }
}

.iconstyle i {
    margin-right: 0 !important;
}

.innerMenu {
    margin-top: 3rem !important;
    background: #3a3a3a !important;
    font-family: 'Open Sans', Arial, sans-serif !important;
    font-size: 18px !important;
    .item:hover {
        background-color: orangered !important;
    }
}

.lb-img {
    margin-bottom: 25px !important;
    img {
        width: 100% !important;
    }
}

.headerbar {
    margin-bottom: 40px !important;
    .headerbar-seg {
        border-radius: 0 !important;
        .i-label {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-left: -.8rem !important;
        }
        h4 {
            white-space: nowrap; //强制不换行
            text-overflow: ellipsis; //超出的部分省略号显示
            overflow: hidden;
        }
    }
    .header:first-child {
        padding-left: calc(54px + 1rem);
        text-align: left;
    }
}

.dir {
    padding-right: 20px !important;
    .dir_c {
        position: relative;
        text-align: left;
        float: right;
        margin-left: 15px;
        .label {
            position: absolute;
            top: 134px;
            left: -15px;
            z-index: 2;
        }
        .card {
            width: 100%!important;
        }
    }
    .dir_c:first-child {
        margin-top: -15px !important;
    }
    .dir_progress {
        position: relative;
        text-align: left;
        float: right;
        margin-left: 15px;
        margin-top: 1rem;
        .card {
            position: relative;
            width: 100%!important;
            .titleLableLeft {
                position: absolute;
                left: -15px;
                top: 32px;
                width: calc(100% + 15px);
            }
        }
        .card>.content {
            margin-top: 3.8em;
        }
        .dir_p_item:not(:last-child) {
            border-bottom: 1px dashed #ccc;
        }
        .dir_p_item {
            .label {
                position: absolute;
                top: 0.7rem;
                left: 0.7rem; // padding: 12px 5px !important;
                border-radius: 0!important;
                width: 35px;
                height: 35px;
                background-color: orangered;
                color: #fff;
            }
            .labelSeven {
                padding: 12px 5px !important;
            }
            .labelFive {
                padding: 13px 9px !important;
            }
            .labelBai {
                padding: 13px 8px !important;
            }
            .label:first-child+:not(.attached) {
                margin-top: 0 !important;
            }
            .column {
                padding: 0.7rem!important;
            }
            .column img {
                width: 100%;
            }
            .column p:first-child {
                line-height: 21px;
                font-size: 13px;
                color: #ccc;
                font-family: Bitter, serif;
                span {
                    font-style: italic;
                }
            }
            .column p:first-child .ui.progress:last-child {
                margin: 0!important;
            }
        }
    }
}

.progressTitle {
    span {
        display: block;
        font-size: 12px;
        color: #fff;
        margin: 7px 3px;
    }
}

.icoMargin {
    text-align: left;
    margin-bottom: 15px;
    p{
      margin-bottom: 5px;
    }
    p:last-child{
      margin-top: 5px;
    }
    p>.icon{
      vertical-align: baseline;
    }
}

.itemPadding {
    .item {
        padding: 0 30px !important;
    }
    .active.item {
        background: orangered !important;
    }
    .item:hover {
        background: orangered !important;
    }
}

.ui.items>.item>.image {
    width: 68px !important;
}

.ui.items>.item>.content>.header {
    font-size: 14px !important;
    font-weight: normal;
    font-family: 'Bitter', serif;
    margin-left: -1.8em;
}

.ui.items>.item .meta {
    margin: 0.5em 0 0.5em -9.5em !important;
    font-size: 12px !important;
}

.dividTitle {
    width: 54px;
    height: 54px;
    background-color: orangered;
    position: absolute;
    top: -5px;
    left: 0;
    padding-top: 7px;
    p {
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 18px;
    }
    p:first-child {
        font-size: 18px;
        color: #fff;
        vertical-align: bottom;
    }
    p:last-child {
        font-size: 13px;
    }
}

.itemGroupShow {
    margin-top: 15px;
    margin-bottom: 35px;
    .grid {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-bottom: 1px dashed #ccc;
    }
    .column img {
        width: 100%;
    }
    .column p {
        text-align: left;
        color: #3a3a3a;
        font-family: 'Bitter', serif;
    }
    .column p:first-child {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: normal;
    }
    .column p:last-child {
        font-size: 12px;
        font-weight: bold;
    }
}

.sponsors {
    .spImg {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% / 2);
        padding: 5px;
    }
    div img {
        width: 100%;
        height: 100%;
    }
}

.littleTitle {
    width: 100%;
    text-align: left !important;
    background: #F0F0F0 url(../images/border-header.png) repeat;
    line-height: 1em;
    margin-bottom: 20px;
    .title {
        background-color: #f15620;
        font-family: 'Open Sans', Arial, sans-serif;
        text-transform: uppercase;
        color: #FFF;
        display: inline-block;
        margin: 0px;
        padding: 10px 15px;
        font-size: 14px;
    }
}

.bestRow {
    clear: both;
    padding-top: 35px;
    p {
        color: #000;
        text-align: left;
    }
    p:last-child {
        background-color: #3a3a3a;
        padding: 10px;
        font-size: 12px;
        color: #d9d9d9;
        text-align: left;
    }
}

.subscribeRow {
    margin-top: 35px;
    p {
        color: #000;
        text-align: left;
    }
    Form {
        margin-top: 15px;
        Input {
            width: 259px !important;
            height: 36px !important;
        }
        Button {
            background: #f15620 none !important;
            color: #fff !important;
            text-transform: uppercase !important;
        }
    }
}

.videoRow {
    margin-top: 35px;
    p {
        color: #000;
        text-align: left;
    }
    p:last-child {
        background-color: #3a3a3a;
        padding: 10px;
        font-size: 12px;
        color: #d9d9d9;
        text-align: left;
    }
}

.focusPicture {
    border: 5px solid #ccc;
    padding: 3px;
    margin: 10px 0;
    img {
        max-width: 100%;
        height: auto;
    }
}

.pagePict {
    position: relative;
    width: calc(100% - 20px) !important;
    margin-left: 15px!important;
    padding: 5rem 1rem 1rem!important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .pagePict_labelLeft {
        position: absolute!important;
        left: -15px!important;
        top: 32px!important;
        width: calc(100% + 15px)!important;
        text-align: left;
    }
    div {
        width: calc(100% / 4);
        @media only screen and (max-width: 767px) and (min-width: 320px) {
            width: calc(100% / 2);
        }
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 5px;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        img {
            width: 100%;
        }
        p {
            display: block;
            margin: 1rem 0 0!important;
            line-height: 18px;
            font-size: 15px;
            font-family: Bitter, serif;
        }
    }
}

.gridMargin {
    width: 100%;
    height: auto;
    background: #202020;
    margin-top: 0 !important;
    margin-left: 0 !important;
    padding-bottom: 30px !important;
    header {
        background: #202020 url('../images/border-header-bottom.png') repeat-x center;
        margin-bottom: 20px;
        text-align: left;
        h4 {
            background-color: #202020;
            color: #fff;
            font-family: Oswald, Arial, sans-serif;
            font-size: 18px;
            padding-left: 0px;
            line-height: 1.4em;
            display: inline-block;
        }
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #a9a9a9;
        text-align: left;
        margin: 0 0 10px;
    }
}

.labelStyle .label {
    height: 30px;
    padding: 8px 10px;
    float: left;
    margin: 5px;
    background-color: #3a3a3a;
    color: #a9a9a9 !important;
    font-size: 14px;
}

.labelStyle .label:hover {
    color: #fff !important;
    background-color: #3a3a3a !important;
    text-decoration: none;
}

.twitterGrid {
    border-bottom: 1px dashed #ccc;
}

.gridFooter {
    width: 100%;
    height: auto;
    margin-left: 0 !important;
    background-color: #000;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #a9a9a9;
    font-size: 13px;
    padding: 20px 0px;
    p {
        text-align: left;
    }
    i.icon {
        font-size: 1.5em;
        float: left;
    }
}

.photoImgList {
    div {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: calc((100% / 3) - 8px);
        margin: 4px;
        border: 2px solid #fff;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.carousel.carousel-slider .control-arrow {
    top: calc(50% - 24px) !important;
    bottom: auto !important;
}
