@charset 'utf-8';
.icoMargin {
    text-align: left;
    margin-bottom: 15px;
    p {
        margin-bottom: 5px;
        span{
          font-size: 1.3rem;
          margin-left: .8rem;
        }
    }
    p:last-child {
        margin-top: 5px;
    }
    p>.icon {
        vertical-align: baseline;
    }
}

.itemPadding {
    .item {
        padding: 0 30px !important;
    }
    .active.item {
        background: orangered !important;
    }
    .item:hover {
        background: orangered !important;
        cursor: pointer;
    }
}

.itemGroupShow {
    margin-top: 15px;
    margin-bottom: 35px;
    .grid {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-bottom: 1px dashed #ccc;
    }
    .column img {
        width: 100%;
    }
    .column p {
        text-align: left;
        color: #3a3a3a;
        font-family: 'Bitter', serif;
    }
    .column p:first-child {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: normal;
    }
    .column p:last-child {
        font-size: 12px;
        font-weight: bold;
    }
}

.sponsors {
    .spImg {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% / 2);
        padding: 5px;
    }
    div img {
        width: 100%;
        height: 100%;
    }
}

.littleTitle {
    width: 100%;
    text-align: left !important;
    background: #F0F0F0 url(http://oum6qj3qr.bkt.clouddn.com/border-header.png) repeat;
    line-height: 1em;
    margin-bottom: 20px;
    .title {
        background-color: #f15620;
        font-family: 'Open Sans', Arial, sans-serif;
        text-transform: uppercase;
        color: #FFF;
        display: inline-block;
        margin: 0px;
        padding: 10px 15px;
        font-size: 14px;
    }
}

.bestRow {
    clear: both;
    padding-top: 35px;
    p {
        color: #000;
        text-align: left;
    }
    p:last-child {
        background-color: #3a3a3a;
        padding: 10px;
        font-size: 12px;
        color: #d9d9d9;
        text-align: left;
    }
}

.subscribeRow {
    margin-top: 35px;
    p {
        color: #000;
        text-align: left;
    }
    Form {
        margin-top: 15px;
        Input {
            width: 259px !important;
            height: 36px !important;
        }
        Button {
            background: #f15620 none !important;
            color: #fff !important;
            text-transform: uppercase !important;
        }
    }
}

.videoRow {
    margin-top: 35px;
    p {
        color: #000;
        text-align: left;
    }
    p:last-child {
        background-color: #3a3a3a;
        padding: 10px;
        font-size: 12px;
        color: #d9d9d9;
        text-align: left;
    }
}

.focusPicture {
    border: 5px solid #ccc;
    padding: 3px;
    margin: 10px 0;
    img {
        max-width: 100%;
        height: auto;
    }
}
